.header
	background-repeat: no-repeat
	background-size: cover
	background-position: top center

	&__info
		margin-bottom: rem(25px)
		margin-top: rem(10px)
		font-size: rem(20px)

	&__contacts
		font-weight: bold
		i
			margin-right: rem(7px)
	&__search
		padding: 0
		position: relative

		i
			position: absolute
			color: #555
			@extend %centering
			left: calc(100% - 16px)
	&__input
		width: 100%
		padding: rem(8px) rem(30px) rem(8px) rem(15px)
		border: 0
		outline: none
		background-color: rgba(#999, 0.2)
		font-style: italic
		font-size: rem(16px)
		&::placeholder
			color: #333

	&__logo
		text-align: center
		margin-bottom: rem(15px)