.slider
	height: 525px
	background-color: rgba(101, 58, 33, 0.5)
	position: relative

	&__visible
		width: 950px
		position: absolute
		@extend %centering
		top: 45%
		text-align: center
		overflow: hidden
	&__list
		font-size: 0
		width: 1900px
	&__item
		width: 950px
		display: inline-block

	&__title
		font-weight: bold
		text-transform: uppercase
		font-size: rem(40px)

	&__subtitle
		font-weight: 500
		font-size: rem(36px)
		margin-bottom: rem(20px)
		line-height: rem(44px)

	&__title, &__subtitle
		color: #fff

	&__btn
		padding: rem(15px) rem(60px)