.products-sct
	&__title
		text-align: center
	&__subtitle
		font-weight: 500

	&__list
		column-count: 2
		column-gap: 1em
	&__item
		box-shadow: 0 0 3px #333

	&__info
		padding: rem(30px) rem(20px)

	&__pic
		height: rem(220px)
		overflow: hidden
		img
			width: 100%
			max-width: 100%
	&__label
		font-weight: bold
		text-transform: uppercase
		margin-bottom: rem(10px)

	&__description
		margin-bottom: rem(20px)
	&__more
		text-transform: uppercase
		color: $red
		display: block
		text-align: right
		font-weight: 500