section.section.about-sct
	.container
		h2.title.about-sct__title О компании
		.row.about-sct__row
			.about-sct__pic.col-lg-10.col-md-10.col-sm-20.col-sm-offset-2(style="background-image: url('img/content/index/data.jpg'); background-position: 84%")
			.about-sct__about.col-lg-14.col-md-14.col-sm-24
				h3.subtitle.about-sct__subtitle Рубикон Пауэр Системс
				p.about-sct__text
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, quos blanditiis eos? Deleniti repellat, odio fugit placeat saepe enim expedita? Sunt dolor magni, in voluptatum laborum voluptas accusantium. Eligendi, ad.
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, asperiores recusandae adipisci. Adipisci laudantium nemo ipsam repudiandae laborum maiores at.
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptas obcaecati recusandae saepe exercitationem officiis at facere quas! Sed natus fugit excepturi nobis ullam, necessitatibus itaque accusantium porro voluptatem. Dolores.
				a.btn.btn_empty.about-sct__btn Читать далее



