section.prod-sct(style="background-image: url('img/bg/prod-bg.jpg');")
	.container
		h2.title.prod-sct__title Продукция
			.row
				ul.prod-sct__list
					li.prod-sct__item
						.prod-sct__pic
						h3.prod-sct__label
		a.btn.btn_empty.prod-sct__btn(href="products.html") Перейти ко всем продуктам