section.prod-sct(style="background-image: url('img/bg/prod-bg.jpg');")
	.container
		h2.title.prod-sct__title Продукция
		.row
			ul.prod-sct__list
				li.prod-sct__item.col-lg-6
					a(href="").prod-sct__link
						.prod-sct__pic
							img(src="img/content/index/prod_1.jpg", alt="Product")
						h3.subtitle.prod-sct__name ИБП
				li.prod-sct__item.col-lg-6
					a(href="").prod-sct__link
						.prod-sct__pic
							img(src="img/content/index/prod_2.jpg", alt="Product")
						h3.subtitle.prod-sct__name ИБП
				li.prod-sct__item.pic.col-lg-12
					.prod-sct__bg.pic(style="background-image: url('img/content/index/prod_3.jpg')")
					.prod-sct__content.prod-sct__content_right
						h3.subtitle.prod-sct__name.prod-sct__name_red Инверторные системы
						a(href="").btn.btn_empty.btn_black.prod-sct__more Подробнее
				li.prod-sct__item.pic.col-lg-12
					.prod-sct__bg.pic(style="background-image: url('img/content/index/prod_4.jpg')")
					.prod-sct__content.prod-sct__content_left
						h3.subtitle.prod-sct__name.prod-sct__name_red Инверторные системы
						a(href="").btn.btn_empty.btn_black.prod-sct__more Подробнее
				li.prod-sct__item.col-lg-6
					a(href="").prod-sct__link
						.prod-sct__pic
							img(src="img/content/index/prod_5.jpg", alt="Product")
						h3.subtitle.prod-sct__name АКБ
				li.prod-sct__item.col-lg-6
					a(href="").prod-sct__link
						.prod-sct__pic
							img(src="img/content/index/prod_6.jpg", alt="Product")
						h3.subtitle.prod-sct__name АКБ
		a.btn.btn_empty.prod-sct__btn(href="products.html") Перейти ко всем продуктам