section.section.service-sct
	.container
		h2.title.service-sct__title Услуги
		.row
			.service-sct__item.col-lg-7
				.service-sct__content
					.service-sct__pic
						img(src="img/content/service/serv_1.jpg", alt="Service")
					.service-sct__desc
						h3.service-sct__name
							span.service-sct__focus
								|Расчет и подбор 
							|оборудования постоянного и перменного тока
						p.service-sct__text
							|Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций

						a.service-sct__more(href="#") Узнать больше
			.service-sct__item.col-lg-7
				.service-sct__content
					.service-sct__pic
						img(src="img/content/service/serv_1.jpg", alt="Service")
					.service-sct__desc
						h3.service-sct__name
							span.service-sct__focus
								|Расчет и подбор 
							|оборудования постоянного и перменного тока
						p.service-sct__text
							|Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций

						a.service-sct__more(href="#") Узнать больше
			.service-sct__item.col-lg-10
				.service-sct__bg.pic(style="background-image: url('img/content/service/serv_3.jpg')")
				.service-sct__large
					h3.subtitle.service-sct__name.service-sct__name_red Инверторные системы
					a(href="").btn.btn_empty.btn_black.service-sct__btn Подробнее