section.section.service-sct
	.container
		h2.title.service-sct__title Услуги
		.row
			.service-sct__item.col-lg-6
				.service-sct__content
					.service-sct__pic.pic(style="background-image: url('img/content/service/serv_1.jpg');")
					.service-sct__desc
						h3.service-sct__name
							span.service-sct__focus
								|Расчет и подбор 
							|оборудования постоянного и перменного тока
						p.service-sct__text
							|Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций
						a.service-sct__more(href="#") Узнать больше
			.service-sct__item.col-lg-6
				.service-sct__content
					.service-sct__pic.pic(style="background-image: url('img/content/service/serv_2.jpg');")
					.service-sct__desc
						h3.service-sct__name
							span.service-sct__focus
								|Расчет и подбор 
							|оборудования постоянного и перменного тока
						p.service-sct__text
							|Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций
						a.service-sct__more(href="#") Узнать больше

			.service-sct__item.service-sct__item_long.col-lg-12
				.service-sct__bg.pic(style="background-image: url('img/content/service/serv_3.jpg')")
				.service-sct__large
					h3.subtitle.service-sct__name.service-sct__name_red Инверторные системы
					a(href="").btn.btn_empty.btn_black.service-sct__btn Подробнее
			.service-sct__item.service-sct__item_long.col-lg-12
				.service-sct__bg.pic(style="background-image: url('img/content/service/serv_4.jpg')")
				.service-sct__large
					h3.subtitle.service-sct__name.service-sct__name_red Инверторные системы
					a(href="").btn.btn_empty.btn_black.service-sct__btn Подробнее


			.service-sct__flex.col-lg-24
				.service-sct__item.service-sct__item_small.col-lg-6
					.service-sct__content
						.service-sct__pic.pic(style="background-image: url('img/content/service/serv_5.jpg');")
						.service-sct__desc
							h3.service-sct__name
								span.service-sct__focus
									|Тех. поддержка 
								|действующего оборудования
							a.service-sct__more(href="#") Узнать больше
				.service-sct__item.service-sct__item_small.col-lg-6
					.service-sct__content
						.service-sct__pic.pic(style="background-image: url('img/content/service/serv_7.jpg');")
						.service-sct__desc
							h3.service-sct__name
								span.service-sct__focus
									|Организация 
								|томоженного оформления оборудования. Доставка из стран Европы и Азии
							a.service-sct__more(href="#") Узнать больше
				.service-sct__item.service-sct__item_small.col-lg-6
					.service-sct__content
						.service-sct__pic.pic(style="background-image: url('img/content/service/serv_6.jpg');")
						.service-sct__desc
							h3.service-sct__name
								span.service-sct__focus
									|Гарантийное
								|и постгарантийное обслуживание действующего оборудования
							a.service-sct__more(href="#") Узнать больше
				.service-sct__item.service-sct__item_small.col-lg-6
					.service-sct__content
						.service-sct__pic.pic(style="background-image: url('img/content/service/serv_7.jpg');")
						.service-sct__desc
							h3.service-sct__name
								span.service-sct__focus
									|Сертификация
								|поставляемого оборудования
							a.service-sct__more(href="#") Узнать больше