section.section.service-sct
	.container
		h2.title.service-sct__title Услуги
		.service-sct__item.col-lg-6
			.service-sct__content
				.service-sct__pic
					img(src="", alt="Service")
				.service-sct__desc
					h3.service-sct__name
						span.service-sct__focus
							|Расчет и подбор 
						|оборудования постоянного и перменного тока
					p.service-sct__text
						|Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения позиций

					a.service-sct__more(href="#") Узнать больше