.slider
	.slider__visible
		ul.slider__list
			li.slider__item
				h1.slider__title Rubicon power systems
				h2.slider__subtitle
					| Сохранение, преобразование и распределение энергии. Гарантированное электропитание в сфере телекоммуникаций
				a.btn.slider__btn Заказать звонок
	
	ul.toggles
		li.toggles__item
			a.toggles__link.toggles__link_active(href="")
		li.toggles__item
			a.toggles__link(href="")
		li.toggles__item
			a.toggles__link(href="")
		li.toggles__item
			a.toggles__link(href="")