.footer
	background-color: $blue_grey
	padding: rem(20px) 0
	&__content
		@extend %clearfix
	&__mid
		text-align: center

	&__right
		text-align: right

	&__text
		color: #fff
		font-size: rem(18px)
		&_bold
			font-weight: 500
		&_upper
			margin-bottom: rem(5px)
	&__link
		color: #fff
