section.products-sct.section
	.container
		h1.title.products-sct__title Продукты
		h2.products-sct__subtitle Вводный текст о продукции
		p.products-sct__text
			|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quae tempore suscipit, recusandae aperiam corrupti eos! Quibusdam in iste quaerat voluptatem, rem suscipit, at sunt recusandae ipsum, magnam perferendis repudiandae provident animi obcaecati omnis magni harum cumque, nesciunt dicta incidunt necessitatibus aliquam assumenda dignissimos excepturi labore! Amet possimus, veniam consequuntur!
		ul.products-sct__list
			li.products-sct__item
				.products-sct__pic
					img(src="img/content/products/prod_1.jpg", alt="Product")
				.products-sct__info
					.products-sct__content
						h3.products-sct__label Источник бесперебойного питания (ибп)
						p.products-sct__text.products-sct__description
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure in cum, cumque rerum accusamus aliquam sint reprehenderit repellat quis ipsam deserunt voluptates ullam unde. Porro totam cumque minus nemo autem?
					a.products-sct__more(href="") Подробнее
			li.products-sct__item
				.products-sct__pic
					img(src="img/content/products/prod_2.jpg", alt="Product")
				.products-sct__info
					.products-sct__content
						h3.products-sct__label Источник бесперебойного питания (ибп)
						p.products-sct__text.products-sct__description
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure in cum, cumque rerum accusamus aliquam sint reprehenderit repellat quis ipsam deserunt voluptates ullam unde. Porro totam cumque minus nemo autem?
					a.products-sct__more(href="") Подробнее
			li.products-sct__item
				.products-sct__pic
					img(src="img/content/products/prod_3.jpg", alt="Product")
				.products-sct__info
					.products-sct__content
						h3.products-sct__label Источник бесперебойного питания (ибп)
						p.products-sct__text.products-sct__description
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure in cum, cumque rerum accusamus aliquam sint reprehenderit repellat quis ipsam deserunt voluptates ullam unde. Porro totam cumque minus nemo autem?
					a.products-sct__more(href="") Подробнее
			li.products-sct__item
				.products-sct__pic
					img(src="img/content/products/prod_4.jpg", alt="Product")
				.products-sct__info
					.products-sct__content
						h3.products-sct__label Источник бесперебойного питания (ибп)
						p.products-sct__text.products-sct__description
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure in cum, cumque rerum accusamus aliquam sint reprehenderit repellat quis ipsam deserunt voluptates ullam unde. Porro totam cumque minus nemo autem?
					a.products-sct__more(href="") Подробнее
			li.products-sct__item
				.products-sct__pic
					img(src="img/content/products/prod_5.jpg", alt="Product")
				.products-sct__info
					.products-sct__content
						h3.products-sct__label Источник бесперебойного питания (ибп)
						p.products-sct__text.products-sct__description
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure in cum, cumque rerum accusamus aliquam sint reprehenderit repellat quis ipsam deserunt voluptates ullam unde. Porro totam cumque minus nemo autem?
					a.products-sct__more(href="") Подробнее
			li.products-sct__item
				.products-sct__pic
					img(src="img/content/products/prod_6.jpg", alt="Product")
				.products-sct__info
					.products-sct__content
						h3.products-sct__label Источник бесперебойного питания (ибп)
						p.products-sct__text.products-sct__description
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure in cum, cumque rerum accusamus aliquam sint reprehenderit repellat quis ipsam deserunt voluptates ullam unde. Porro totam cumque minus nemo autem?
					a.products-sct__more(href="") Подробнее
			li.products-sct__item
				.products-sct__pic
					img(src="img/content/products/prod_7.jpg", alt="Product")
				.products-sct__info
					.products-sct__content
						h3.products-sct__label Источник бесперебойного питания (ибп)
						p.products-sct__text.products-sct__description
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure in cum, cumque rerum accusamus aliquam sint reprehenderit repellat quis ipsam deserunt voluptates ullam unde. Porro totam cumque minus nemo autem?
					a.products-sct__more(href="") Подробнее