section.section.contacts-sct
	.container
		h1.title.contacts-sct__title Контакты
		
		.row
			.col-lg-24.contacts-sct__upper
				.row
					.col-lg-12.contacts-sct__left
						h4.contacts-sct__label Адрес:
						h2.contacts-sct__contacts.contacts-sct__contacts_address
							| г. Москва, ул. Зои и Александры Космодемьянских, дом 1, строение 3
					.col-lg-12.contacts-sct__right
						h4.contacts-sct__label Контактная информаци:
						h2.contacts-sct__contacts.contacts-sct__contacts_tele
							i(class="fa fa-phone", aria-hidden="true").icon_blue
							|Телефон: +7 (495) 967-33-50
						h2.contacts-sct__contacts.contacts-sct__contacts_email
							i(class="fa fa-envelope", aria-hidden="true").icon_blue
							|E-mail: info@rubiconpower.ru
			.col-lg-24.contacts-sct__lower
				.row
					.col-lg-12.contacts-sct__left
						h3.contacts-sct__subtitle Как добираться
						p.contacts-sct__text
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore provident omnis ullam, quasi architecto, dolore deserunt voluptatum corporis eos numquam assumenda laborum velit dicta sunt. Et possimus, deleniti labore tempora praesentium vero obcaecati harum. Alias nam, iure impedit ipsum eius sed dolores natus sit laboriosam adipisci debitis officia sint, quod laudantium officiis repudiandae molestiae, ut ullam aspernatur asperiores iste molestias ducimus sunt! Ducimus amet soluta, error, mollitia cum quibusdam quas omnis! Consequuntur natus aspernatur voluptates voluptatibus, explicabo veritatis enim beatae praesentium ipsa tempore! Reprehenderit, officiis perferendis quia nisi natus saepe repudiandae facilis soluta rerum, illo similique nulla laudantium adipisci debitis?
					.col-lg-12.contacts-sct__right
						.contacts-sct__pic
							img(src="", alt="Map")