section.consultation-sct
	.container
		.row
			.col-lg-12
			.col-lg-12text
				input(type="text", name="person_name", placeholder="Имя").consultation-sct__input
				input(type="text", name="telephone", placeholder="Телефон").consultation-sct__input
				input(type="text", name="email", placeholder="E-mail").consultation-sct__input
			a.btn(href="#") Отправить