footer.footer
	.container
		.footer__content
			.col-lg-6.footer__left
				h4.footer__text &copy; Rubicon Power Systems, 2017
				h4.footer__text Все права защищены.
				h4.footer__text Сайт разработан 
					a.footer__link(href="http://web-comp.ru/")
						img(src="img/icons/vendor.png", alt="WEB-COMP")
			.col-lg-6.footer__mid
				h4.footer__text.footer__text_upper.footer__text_bold
					a.footer__link(href="")
						| Условия использования
				h4.footer__text.footer__text_bold +7 (495) 967-33-50
			.col-lg-6.footer__mid
				h4.footer__text.footer__text_upper.footer__text_bold
					a.footer__link(href="")
						| Политика использования
				h4.footer__text.footer__text_bold info@rubiconpower.ru
			.col-lg-6.footer__right
				h4.footer__text.footer__text_upper Мы в социальных сетях:
				ul.socials
					li.socials__item
						a(href="").socials__link
							i(class="fa fa-vk", aria-hidden="true").socials__icon
					li.socials__item
						a(href="").socials__link
							i(class="fa fa-facebook", aria-hidden="true").socials__icon
					li.socials__item
						a(href="").socials__link
							i(class="fa fa-odnoklassniki", aria-hidden="true").socials__icon