header.header(style="background-image: url('img/bg/head.jpg')")
	.container.header__content
		.row.header__info
			.col-lg-6.col-md-6.col-sm-7.header__contacts.header__contacts_tele
				i(class="fa fa-phone", aria-hidden="true").icon_blue
				| +7 (495) 967-33-50
			.col-lg-6.col-md-7.col-sm-8.header__contacts.header__contacts_email
				i(class="fa fa-envelope", aria-hidden="true").icon_blue
				| info@rubiconpower.ru
			.col-lg-9.col-lg-offset-3.col-md-8.col-md-offset-3.col-sm-9.header__search
				i(class="fa fa-search", aria-hidden="true")
				input(type="text", placeholder="Поиск по сайту").header__input
		.header__logo
			img(src="img/icons/logo.png", alt="RUBICON - Power Systems").img_div
	if INDEX
		include index/slider
	input(type="checkbox", name="hamburger", id="hamb").hidden.header__check
	label(for="hamb").visible-xs.header__hamb
		i(class="fa fa-bars", aria-hidden="true")
	nav.nav
		.container
			ul.nav__list
				li.nav__item(class=INDEX? 'nav__item_active' : '')
					a.nav__link(href="index.html") Главная
				li.nav__item
					a.nav__link(href="#") О компании
				li.nav__item(class=PRODUCTS ? 'nav__item_active' : '')
					a.nav__link(href="products.html") Продукция
				li.nav__item
					a.nav__link(href="#") Услуги
				li.nav__item(class=CONTACTS ? 'nav__item_active' : '')
					a.nav__link(href="contacts.html") Контакты