header.header(style="background-image: url('img/bg/head.jpg')")
	.container
		.row.header__info
			.col-lg-6.header__contacts.header__contacts_tele.icon_blue
				i(class="fa fa-phone", aria-hidden="true")
				| +7 (495) 967-33-50
			.col-lg-6.header__contacts.header__contacts_email.icon_blue
				i(class="fa fa-envelope", aria-hidden="true")
				| info@rubiconpower.ru
			.col-lg-9.col-lg-offset-3.header__search
				i(class="fa fa-search", aria-hidden="true")
				input(type="text", placeholder="Поиск по сайту").header__input
		.header__logo
			img(src="img/icons/logo.png", alt="RUBICON - Power Systems").img_div
	nav.nav
		.container
			ul.nav__list
				li.nav__item(class=ITEM ? 'nav__item_active' : '')
					a.nav__link(href="index.html") Главная
				li.nav__item
					a.nav__link(href="#") О компании
				li.nav__item(class=PRODUCTS ? 'nav__item_active' : '')
					a.nav__link(href="products.html") Продукция
				li.nav__item
					a.nav__link(href="#") Услуги
				li.nav__item(class=CONTACTS ? 'nav__item_active' : '')
					a.nav__link(href="contacts.html") Контакты