.about-sct
	&__title
		text-align: center
		margin-bottom: rem(45px)
	&__subtitle
		text-transform: capitalize

	&__text
		margin-bottom: rem(20px)

	&__btn
		padding: rem(10px) rem(60px)
	&__pic
		img
			max-width: 100%
			object-fit: cover