.prod-sct
	text-align: center
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding: rem(45px) 0

	&__btn
		border-color: #30414a
		color: #30414a

	&__list
		font-size: 0
	&__item
		width: 265px
		display: inline-block

	&__pic
		height: 205px