.service-sct
	text-align: center
	&__flex
		display: flex
		@extend %clearfix
		padding: 0
		+responsive('tablet')
			display: block
		+responsive('phone')
			display: block
		+responsive('phone-xs')
			display: block

	&__container
		+responsive('phone')
			max-width: 480px

	&__item
		position: relative
		margin-bottom: 20px
		text-align: left
		+responsive('phone-xs')
			width: 100%

		&_long
			margin-bottom: 26px
			height: 285px
			+responsive('laptop')
				height: 255px
			
		&_small 
			.service-sct__content
				+responsive('tablet')
					height: 365px
			.service-sct__desc
				height: calc(100% - 220px)
				+responsive('laptop')
					height: calc(100% - 180px)

			.service-sct__name
				height: calc(100% - 20px)
				margin-bottom: 0
				+responsive('phone-xs')
					margin-bottom: 15px

	&__content
		height: 100%
		box-shadow: 0 0 3px rgba(#555, .2)
		+responsive('tablet')
			height: 465px

	&__pic
		height: 220px
		+responsive('laptop')
			height: 180px

	&__name
		color: #5f5f5f
		font-weight: bold
		font-size: rem(18px)
		margin-bottom: rem(25px)

		&_red
			color: $red
			font-size: rem(30px)
			margin-bottom: rem(10px)
			+responsive('laptop')
				font-size: 25px
			+responsive('phone')
				font-size: 22px
			+responsive('phone-xs')
				font-size: 20px

	&__focus
		color: #000
		text-transform: uppercase
		display: block

	&__desc
		padding: rem(20px) rem(18px)

	&__text
		margin-bottom: rem(24px)
		color: $black

	&__btn
		+responsive('laptop')
			font-size: 15px
		+responsive('phone')
			font-size: 13px
		+responsive('phone-xs')
			font-size: 12px
	&__more
		text-transform: uppercase
		color: $red
		font-size: rem(18px)
		font-weight: bold


	&__bg
		height: 100%
		width: 100%
		position: relative
		&::before
			position: absolute
			background-color: rgba(20, 20, 20, 0.7)
			content: ''
			display: inline-block
			top: 0
			bottom: 0
			right: 0
			left: 0
			
	&__large
		position: absolute
		z-index: 1
		@extend %centering
		width: 75%
		text-align: right
		+responsive('phone-xs')
			width: 85%